<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>COAD - Products</title>
	<link rel="icon" href="/img/favicon.png">
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="/css/slick.css" />
	<link type="text/css" rel="stylesheet" href="/css/slick-theme.css" />

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="/css/nouislider.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="/css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/css/style.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	<style>
		.dropdown-toggle{
			width: 50%;
		}

		.dropright{
			margin: 0px;
			padding-left: 0px;
			padding-right: 0px;
		}

		.selected {
            font-size: 14px;
            color: #666;
            padding: 5px 20px;
        }

        .postad {
            margin: 10px 25px;
            padding: 10px 25px;
        }
        .uploadFiles{
			padding: 10px;
            cursor: pointer;
			display: inline-block;
			padding: 5px;
			text-align: center;
			height: 160px;
		}
		.uploadFiles img{
			border: 0.5px solid lightgray;
			padding: 10px;
			height: 100%;
			width: 100%;
		}

	</style>

	<script>
		function showsub(loc){
			window.location = '/post/add/'+loc;
		}
	</script>

</head>

<body>
	<header>

		<!-- MAIN HEADER -->
		<div id="header">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- LOGO -->
					<div class="col-md-3">
						<div class="header-logo">
							<a href="#" class="logo">
								<img src="/img/logo.png" alt="">
							</a>
						</div>
					</div>
					<!-- /LOGO -->

					<div id="coll-modal" class="modal fade" role="dialog">
						<div class="modal-dialog">
					  
						  <!-- Modal content-->
						  <div class="modal-content">
							<div class="modal-header">
							  <h4 class="modal-title">Select Your College</h4>
							</div>
							<div class="modal-body">

								<input class="input" autofocus autocomplete="off" id="search" placeholder="Select your college">
								<ul class="list-group col-12" style="position: absolute;z-index: 20;" id="searchResult"></ul>
								<div style="width: 100%;" class="text-center">
									<button class="search-btn" data-dismiss='modal' id="search-btn">Search</button>
								</div>

							</div>
						  </div>
					  
						</div>
					</div>
					<!-- SEARCH BAR -->
					<div class="col-md-6">
						<div class="college">
							<div class="college-name" id="pop-coll-modal" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#coll-modal">
								<span id="coll-data">-</span>  
								<span style="float: right;"><i class="fa fa-caret-down"></i></span>
							</div>
						</div>
					</div>
					<!-- /SEARCH BAR -->

					<!-- ACCOUNT -->
					<div class="col-md-3 clearfix">
						<div class="header-ctn">
							<!-- Login -->
							<div id="login">
								<a class="login-button" href="/auth/google">
									<i class="fa fa-google"></i>
									<span>Login</span>
								</a>
							</div>
							<!-- /Login -->

							<!-- Profile -->
							<div class="dropdown" id="profile">
								<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
									<img src="<%=user.picture%>"
										style='display: block; height: 40px;width: 40px;border-radius: 50%;'>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#">Profile</a></li>
									<li><a href="/api/logout">Logout</a></li>
								</ul>
							</div>
							<!-- /Profile -->

							<!-- Wishlist -->
							<div class="dropdown" id='wishlist'>
								<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
									<i class="fa fa-heart-o"></i>
									<span>Your Wishlist</span>
									<div class="qty">3</div>
								</a>
								<div class="cart-dropdown">
									<div class="cart-list">
										<div class="product-widget">
											<div class="product-img">
												<img src="img/product01.png" alt="">
											</div>
											<div class="product-body">
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
											</div>
											<button class="delete"><i class="fa fa-close"></i></button>
										</div>

										<div class="product-widget">
											<div class="product-img">
												<img src="img/product02.png" alt="">
											</div>
											<div class="product-body">
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
											</div>
											<button class="delete"><i class="fa fa-close"></i></button>
										</div>
									</div>
									<div class="cart-summary">
										<small>3 Item(s) selected</small>
										<h5>SUBTOTAL: $2940.00</h5>
									</div>
								</div>
							</div>
							<!-- /Wishlist -->

							<!-- Menu Toogle -->
							<div class="menu-toggle">
								<a href="#">
									<i class="fa fa-bars"></i>
									<span>Menu</span>
								</a>
							</div>
							<!-- /Menu Toogle -->
						</div>
					</div>
					<!-- /ACCOUNT -->
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- /MAIN HEADER -->
	</header>
	<!-- /HEADER -->

	<!-- NAVIGATION -->
	<nav id="navigation">
		<!-- container -->
		<div class="container">
			<!-- responsive-nav -->
			<div id="responsive-nav">
				<!-- NAV -->
				<ul class="main-nav nav navbar-nav">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="/electronics">Electronics & Appliances</a></li>
					<li><a href="/books">Books & Notes</a></li>
					<li><a href="/vehicles">Vehicles</a></li>	
					<li><a href="/sports">Sports & Hobbies</a></li>	
					<li><a href="/hotdeals">Hot Deals</a></li>
					<li><a href="#newsletter">Contact us</a></li>
				</ul>
				<!-- /NAV -->
			</div>
			<!-- /responsive-nav -->
		</div>
		<!-- /container -->
	</nav>
	<!-- /NAVIGATION -->


	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb-tree">
						<li><a href="/">Home</a></li>
                        <li><a href="/post/add">All Categories</a></li>
                        <li><a href="/post/add/<%=category%>"><%=category.replace('&', ' and ')%></a></li>
                        <li><a class="actv" href="/post/add/<%=category.replace('&', ' and ')%>/<%=item%>"><%=item%></a></li>
					</ul>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->

	<!-- Post Menu -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<!-- section tab & slick -->
				<div class="col-md-12" id="post-ad">
					<div class="row">
						<div class="col-md-8" style="padding: 5px;">
							<div class="form-box">
								<form action="../../../upload" enctype="multipart/form-data" method="POST">
									<input type="text" name="type" style="display: none;" value="<%=category%>">
									<input type="text" name="sub_type" style="display: none;" value="<%=item%>">
									<div class="title-and-description">
										<div class="form-top">
											<span>Ad Title And Product Description</span>
											<i style="float: right;" class="fa fa-arrow-right" onclick="$('.title-and-description > .continue').click()"></i>
										</div>
										<br>
										<hr>
										<label for="ad-title">Ad Title *</label><br>
										<textarea required name="title" maxlength="50" placeholder="Give an appropriate title for the product." id="ad-title" rows="3"></textarea>
										<br><span>Mention the key features of your item e.g. brand, model, age, type . (Max length 50 words)</span>
										<br><br><br>
										<label for="ad-description">Product Description *</label><br>
										<textarea required name="description" maxlength="400" placeholder="Give a complete description for your product." id="ad-description" rows="6"></textarea>
										<br><span>Include condition, features and reason for selling. (Max length 400 words)</span>
										<br><br><br><br>
										<button class="continue"><span>Continue</span></button>
									</div>

									<div class="location">
										<div class="form-top">
											<i style="float: left;" class="fa fa-arrow-left" onclick=
											"$('.location').hide();
											$('.title-and-description').show()"></i>
											<span>Confirm Your Location</span>
											<i style="float: right;" class="fa fa-arrow-right"  onclick="$('.location > .continue').click()"></i>
										</div>
										<br>
										<hr>
										<label for="college">College Name *</label><br>
										<select required id="college" name="college_name">
											<option value="" selected></option>
										</select>
										<br><span>Name of the college in which the product is to be sold.</span>
										<br><br><br><br>
										<button class="continue"><span>Continue</span></button>
									</div>

									<div class="images"  style="text-align: center;">
										<div class="form-top">
											<i style="float: left;" class="fa fa-arrow-left" onclick=
											"$('.images').hide();
											$('.location').show()"></i>
											<span>Product Images</span>
											<i style="float: right;" class="fa fa-arrow-right" onclick="$('.images > .continue').click()"></i>
										</div>
										<br>
										<hr>
										<div class="col-md-12">
											<div class="row" id="uploadedImages">
												<input required type="file" style="display: none;" class='img1' name="Image" onchange="changeImage(this);">
												<div class="uploadFiles"  id='img1' onclick="takeImage(this)">
													<img src="../../../img/upload.png" id='notUpload1' alt="upload image">
												</div>
											</div>
										</div>
										<br><span>Click on the above icon and upload atleast one original and recent pictures of the product (Maximum 12).</span>
										<br><span class="text-danger" style="display: none;" id="maxImg">Maximum 12 images are acepted.</span>
										<br><br><br><br>
										<button class="continue"><span>Continue</span></button>
									</div>
									<div class="price">
										<div class="form-top">
											<i style="float: left;" class="fa fa-arrow-left" onclick=
											"$('.price').hide();
											$('.images').show()"></i>
											<span>Product Price</span>
											<i style="float: right;" class="fa fa-arrow-right"  onclick="$('.price > .continue').click()"></i>
										</div>
										<br>
										<hr>
										<label for="price">Price  *</label><br>
										<input name="price" required type="tel" placeholder="Set a price for the product." id="price" rows="3" value= '&#8377  '></input>
										<br><span class="text-danger" id="wrong-price" style="display: none;">Enter the price correctly.</span>
										<br><br><br><br>
										<button class="continue"><span>Continue</span></button>
									</div>
									
									<div class="personal">
										<div class="form-top">
											<i style="float: left;" class="fa fa-arrow-left" onclick=
											"$('.personal').hide();
											$('.price').show()"></i>
											<span>Seller Information</span>
										</div>
										<br>
										<hr>
										<label for="owner_name">Name *</label>
										<br><input required type="text" name="owner_name" maxlength="70" id="owner_name" value="<%=user.name%>">
										<br><br><br><label for="owner_email">Email *</label>
										<br><input required type="email" name="owner_email" maxlength="70" id="owner_email" value="<%=user.email%>">
										<br><br><br><label for="owner_mob">Mobile number *</label>
										<br><input required type="tel" name="owner_mob" placeholder="Enter your current mobile number" maxlength="10" minlength="10" id="owner_mob">
										<br><span>This mobile number is used by the customer to contact the product owner.</span>
										<br><br><br><br><br>
										<button type="submit" class="continue"><span>Post Ad</span></button>
									</div>
								</form>
							</div>
						</div>
                        <div class="col-md-4" style="padding: 5px;">
							<div class="form-box" style="background-color: white;border-radius: 10px;">
								<div class="form-top">
									<span>Product Evaluation</span>
								</div>
								<br>
								<hr>
								<div class="prod-evaluation">
									<label>Seller Info</label>
									<li><%=user.name%></li>
									<li><%=user.email%></li>
									<br><label>Product</label>
									<li><%=item.toUpperCase()%> in <%=category.replace('&', ' and ')%></li>

									<div id="eval-title"></div>
									<div id="eval-location"></div>	
									<div id="eval-price"></div>
								
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- /Post Menu -->
	
	<!-- FOOTER -->
	<footer id="footer">
		<!-- top footer -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-4 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">About Us</h3>
							<p>Buy and Sell things among the hostlers.</p>
							<ul class="footer-links">
								<li><a href="#"><i class="fa fa-map-marker"></i>National Institute of Technology patna</a></li>
								<li><a href="#"><i class="fa fa-phone"></i>+91-877-055-3001</a></li>
								<li><a href="#"><i class="fa fa-envelope-o"></i>yashjanoria999@gmail.com</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-4 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Categories</h3>
							<ul class="footer-links">
								<li><a href="/store/hotdeals">Hot deals</a></li>
								<li><a href="/store/electronics">Laptops</a></li>
								<li><a href="/store/electronics">Smartphones</a></li>
								<li><a href="/store/electronics">Mobiles</a></li>
								<li><a href="/store/electronics">Accessories</a></li>
							</ul>
						</div>
					</div>

					<div class="clearfix visible-xs"></div>

					<div class="col-md-4 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Information</h3>
							<ul class="footer-links">
								<li><a href="#">About Us</a></li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Orders and Returns</a></li>
								<li><a href="#">Terms & Conditions</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /top footer -->

	</footer>
	<!-- /FOOTER -->

	<!-- jQuery Plugins -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/slick.min.js"></script>
	<script src="/js/nouislider.min.js"></script>
	<script src="/js/jquery.zoom.min.js"></script>
	<script src="/js/main.js"></script>


	<script>
		if ("<%=user.picture%>" != "") {
			$('#login').hide();
			$('#profile').show();
			$('#wishlist').show();
		}
		else {
			$('#login').show();
			$('#profile').hide();
			$('#wishlist').hide();
		}

		$.getJSON('../../../json/college.json', function (data) {
            data.clg.forEach((clg_name) => {
                $('#college').append(`<option value='${clg_name}'>${clg_name}</option>`)

            });
        });

		function takeImage(input){
            const inputFile = $(input).attr('id');
            $("."+inputFile).click();    
		}

		function changeImage(input) {
			var curr = parseInt($(input).attr('class').substring(3))
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$("#notUpload"+curr).attr('src', e.target.result)
					// $('#notUpload1').attr('src', e.target.result)
				};

				reader.readAsDataURL(input.files[0]);
				if(curr == 12){
					$('#maxImg').show()
				}
				
				else if($('.img'+(curr+1)).length == 0){
					$('#uploadedImages').append(`
					<input type="file" style="display: none;" class='img${curr+1}' name="Image"  onchange="changeImage(this);">
						<div class="uploadFiles col-md-3 col-xs-4" id='img${curr+1}' onclick="takeImage(this)">
							<img src="../../../img/upload.png" id='notUpload${curr+1}'  alt="upload image">
						</div>`)
				}


				
			}
		}
		
		$('.price').hide();
		$('.personal').hide();
		$('.location').hide();
		$('.images').hide();

		$('.title-and-description > .continue').click(function(){
			if( $('#ad-title').val() != "" && $('#ad-description').val() != "" ){
				$('.prod-evaluation > #eval-title').html(`
				<br><label>Title</label>
				<li>${$('#ad-title').val()}</li>
				<br><label>Description</label>
				<li>${$('#ad-description').val()}</li>
				`)
				$('.title-and-description').hide();
				$('.location').show()
			}
		});
		$('.location > .continue').click(function(){

			if($('#college').val() != "" ){
				$('.prod-evaluation > #eval-location').html(`
				<br><label>College</label>
				<li>${$('#college').val()}</li>
				`)
				$('.location').hide();
				$('.images').show()
			}
		});
		
		$('.images > .continue').click(function(){
			if($('#ad-title').val() != "" && $('#ad-description').val() != "" ){
				$('.images').hide();
				$('.price').show()
			}
			
		});

		$('.price > .continue').click(function(){

			if($('#price').val() != "₹  "){
				$('.prod-evaluation > #eval-price').html(`
				<br><label>Price</label>
				<li>${$('#price').val()}</li>
				`)
				$('#wrong-price').hide()
				$('.price').hide();
				$('.personal').show()
			}
			else{
				$('#wrong-price').show()
			}
			
		});
		

	</script>

</body>

</html>

lo